<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Average score:</strong>
    <%= book.average_rating %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

</div>
