<p style="color: green"><%= notice %></p>

<h1 class="text-center">Books</h1>
<form class="d-flex" action="/search">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 

<div class="container mt-2">
  <div class="row d-flex">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
  </div>
</div>
